body {

    background-color: black;
    /* Fixed */
    height: 100%;
    display: flex;
    justify-content: center;


}


.main {
    position: relative;
    background-color: white;
    /* Fixed */
    height: 900px;
    width: 600px;
}

p {
    font-family: "Roboto Serif";
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "GRAD" 0;
}



.post_header {
    position: relative;
    display: flex;
    height: 90px;
}


.header_izq {
    height: 700px;
    width: 700px;
    display: flex;

}


.header_izq div {
    margin: 15px 0 15px 15px;
    margin-bottom: 20px;
}


.header_derecha {
    height: 700px;
    width: 700px;

}








.fa-brands {
    font-size: 70px;
}


.icono_letra {
    position: relative;
    top: -15px;
    margin-left: 20px;

}



.icono_letra :last-child {
    margin-top: 0px;
}



.header_derecha div {
    float: right;
    font-size: 30px;
    margin: 20px;

}





.post_body {
    margin-top: 20px;
    /* height: 600px; */
    height: 100%;
    position: relative;
}




.imagen img {
    /* height: 100%; */
    height: 400px;
    width: 100%;
}


.iconos {
    font-size: 50px;
    height: 700px;
    width: 950px;
    margin: 20px;


}

.fa-bookmark {
    position: absolute;
    right: 20px;
}





.post_footer {
    position: absolute;
    height: 170px;
    margin-top: -390px;
    margin-left: 18px;
    margin-right: 14px;

}

.post_footer :nth-child(3) {
    margin-top: -12px;
}